@model BagStore.Web.Models.DTOs.ChatLieuDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<form asp-area="Admin" asp-controller="ChatLieuAdmin" asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div>
        <label>Tên chất liệu</label>
        <input type="text" name="TenChatLieu" value="@Model.TenChatLieu" />
    </div>
    <div>
        <label>Mô tả</label>
        <textarea name="MoTa">@Model.MoTa</textarea>
    </div>
    <button type="submit">Lưu</button>
</form>
