<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/LayoutAdmin/assets/images/faces/UTC.png" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Admin</span>
                    <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="SanPham">
                <span class="menu-title">Sản phẩm</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Danh mục</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="DanhMucLoaiTui" asp-area="Admin" asp-controller="HomeAdmin">Danh mục loại túi</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="MauSac" asp-area="Admin" asp-controller="HomeAdmin">Màu sắc</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="ChatLieu" asp-area="Admin" asp-controller="HomeAdmin">Chất liệu</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="ThuongHieu" asp-area="Admin" asp-controller="HomeAdmin">Thương hiệu</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="KichThuoc" asp-area="Admin" asp-controller="HomeAdmin">Kích thước</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-area="Admin" asp-controller="Customer">
                <span class="menu-title">Khách hàng</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-area="Admin" asp-controller="DonHang">
                <span class="menu-title">Đơn hàng</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            @* <a class="nav-link" asp-area="Client" asp-controller="Account" asp-action="Login">
                <span class="menu-title">Đăng xuất</span>
                <i class="mdi mdi-account-circle menu-icon"></i>
            </a> *@
            @* <form asp-area="Client" asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                <button type="submit" class="nav-link btn btn-link d-flex justify-content-between align-items-center w-100 border-0">
                    <span class="menu-title">Đăng xuất</span>
                    <i class="mdi mdi-account-circle menu-icon"></i>
                </button>
            </form> *@
            <a href="javascript:void(0);"
               class="nav-link"
               onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                <span class="menu-title">Đăng xuất</span>
                <i class="mdi mdi-account-circle menu-icon"></i>
            </a>
        </li>
        
         
    </ul>
</nav>

<form id="logoutForm" asp-area="Client" asp-controller="Account" asp-action="Logout" method="post" class="d-none">
    @Html.AntiForgeryToken()
</form>